title: "Creating Category"
date: 2020-06-08T06:15:55+06:00
# hero: images/background/flower.jpg
draft: true
author:
  name: Md.Habibur Rahman
  image: /images/authors/habib.jpg
menu:
  sidebar:
    name: Creating Category
    identifier: writing-post-category-create
    parent: writing-post-category
    weight: 10
category: template
tags: ["tag1", "tag2"]
---
