{{ define "main" }}
<h1>{{ .Title }}</h1>

    {{ $tagsPage := eq .Title "Tags"}}
    {{ $aboutPage := eq .Title "about"}}
    {{ $paginationSize := 1}}

    {{ if $tagsPage }}
      {{ if (gt .Site.Params.paginationTagsSize 0) }}
        {{ $paginationSize = .Site.Params.paginationTagsSize }}
      {{ end }}

      {{ $paginator := .Paginate (.Pages) $paginationSize }}

<div class="tag-container">

      {{ if (eq $paginator.PageNumber 1) }}
        {{ partial "featured-image.html" . }}
        {{ .Content }}
      {{ end }}
      {{ range $index, $page := (sort $paginator.Pages) }}
        {{ partial "tag-entry.html" $page }}
      {{ end }}
</div>
      {{ partial "pagination-controls.html" $paginator}}

    {{ else }}

<div class="list-container">
      {{ if (gt .Site.Params.paginationSize 0) }}
      {{ $paginationSize = .Site.Params.paginationSize }}
      {{ end }}
      {{ $paginator := .Paginate (.Pages) $paginationSize }}

      {{ if (eq $paginator.PageNumber 1) }}
        {{ partial "featured-image.html" . }}
        {{ .Content }}
      {{ end }}

      {{ range $index, $page := (sort $paginator.Pages).ByDate.Reverse }}

        {{ if not $aboutPage }} 
          {{ partial "post-entry.html" $page }}
        {{ end }}
      {{ end }}
</div>
      {{ partial "pagination-controls.html" $paginator}}

    {{ end }}


{{ end }}
