{{ define "main" }}

    {{ $tagsPage := eq .Title "Tags"}}
    {{ $aboutPage := eq .Title "about"}}

    {{ $paginationSize := 1}}
    {{ if $tagsPage }}
      {{ if (gt .Site.Params.paginationTagsSize 0) }}
        {{ $paginationSize = .Site.Params.paginationTagsSize }}
      {{ end }}
    {{ else }}
      {{ $paginationSize = .Site.Params.paginationSize }}
    {{ end }}

    {{ $paginator := .Paginate (.Pages) $paginationSize }}

<h1>{{ .Title }}</h1>
    {{ if $tagsPage }}
<div class="tag-container">
    {{ else }}
<div class="list-container">
      {{ if (eq $paginator.PageNumber 1) }}
        {{ partial "featured-image.html" . }}
      {{ end }}
    {{ end }}


    {{ if (eq $paginator.PageNumber 1) }}
      {{ .Content }}
    {{ end }}

    {{ range $index, $page := (sort $paginator.Pages).ByDate.Reverse }}

      {{ if $tagsPage }}
        {{ partial "tag-entry.html" $page }}
      {{ else }}

        {{ if not $aboutPage }} 
          {{ partial "post-entry.html" $page }}
        {{ end }}
      {{ end }}

    {{ end }}

</div>

    {{ partial "pagination-controls.html" $paginator}}

{{ end }}
