<style>

    /* ============================================================ */
    /* Post Index */
    /* ============================================================ */
    
    .post-list {
     /*   border-top: 6px solid #303030; */
        list-style: none;
        margin: 80px 40px 0;
        padding: 35px 0 0;
    }
    
    .post-stub {
        border-bottom: 1px dotted #303030;
        margin: 0;
    }
    
    .post-stub:first-child { padding-top: 0; }
    
    .post-stub a {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: block;
        color: #424242;
        padding: 20px 5px;
    }
    
    .post-stub a:hover {
        background: #F5F5FC;
        color: #57A3E8;
        padding: 20px 12px;
    }
    
    .post-stub-title {
        display: inline-block;
        margin: 0;
        text-transform: none;
    }
    
    .post-stub-date { display: inline-block; }
    
    .post-stub-date:before { content: "/ "; }
    
    .next-posts-link a,
    .previous-posts-link a {
        display: block;
        padding: 8px 11px;
    }
    
</style>

<div id="post-index" class="container" style="display: block;">
 
    <h1 class="list-title">{{ .Name }}</h1>
    <ol class="post-list">
    {{ range (where .Pages "Params.type" "post" ).GroupByDate "2006" }}

    <h2 class="posts-year">{{ .Key }}</h2>

    {{- range .Pages -}}
        {{- partial "list-posts.html" . -}}
    {{ end }}
    {{ end }}
</ol>
</div>
